// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

1                       RT_MANIFEST             "ldmicro.exe.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
//4000                    ICON                    "favicon.ico"
4000                    ICON                    "poptools32.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_SPLASH              BITMAP                  "splash.bmp"


