// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//
1                       RT_MANIFEST             "poptools.exe.manifest"
/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
//4000                  ICON                    "favicon.ico"
4000                    ICON                    "poptools32.ico"

// Icones da lista de imagens de placas de expansao
IDI_BOARD_DI			ICON		            "imgs/expansion_DI.ico"
IDI_BOARD_DO			ICON		            "imgs/expansion_DO.ico"
IDI_BOARD_AI			ICON		            "imgs/expansion_AI.ico"
IDI_BOARD_LCD			ICON		            "imgs/expansion_LCD.ico"

IDI_BOARD_BIG_DI		ICON		            "imgs/expansion_Big_DI.ico"
IDI_BOARD_BIG_DO		ICON		            "imgs/expansion_Big_DO.ico"
IDI_BOARD_BIG_AI		ICON		            "imgs/expansion_Big_AI.ico"
IDI_BOARD_BIG_LCD		ICON		            "imgs/expansion_Big_LCD.ico"

IDB_BOARD_DI			BITMAP		            "imgs/expansion_DI.bmp"
IDB_BOARD_DO			BITMAP		            "imgs/expansion_DO.bmp"
IDB_BOARD_AI			BITMAP		            "imgs/expansion_AI.bmp"
IDB_BOARD_LCD			BITMAP		            "imgs/expansion_LCD.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//
IDB_SPLASH						BITMAP                  "splash.bmp"
IDB_CLOCK_EDIT					BITMAP                  "imgs/clock_edit.bmp"
IDB_NETWORK_CONFIG				BITMAP                  "imgs/network_config.bmp"
IDB_RS485_CONFIG				BITMAP                  "imgs/RS485_config.bmp"
IDB_TIME_CONFIG					BITMAP                  "imgs/time_config.bmp"
IDB_ARROW_LEFT					BITMAP                  "imgs/ArrowLeft.bmp"
IDB_TABCTRL_CLOSE				BITMAP                  "imgs/close.bmp"

IDB_LADDER_RTC					RCDATA					"imgs/Calendario.bmp"
IDB_LADDER_RTC_SIMON			RCDATA					"imgs/Calendario_SimON.bmp"
IDB_LADDER_RTC_SIMOFF			RCDATA					"imgs/Calendario_SimOFF.bmp"

IDB_LADDER_CYCLE				RCDATA					"imgs/guiContadorCircular.png"
IDB_LADDER_CYCLE_SIMON			RCDATA					"imgs/guiContadorCircular_SimON.png"
IDB_LADDER_CYCLE_SIMOFF			RCDATA					"imgs/guiContadorCircular_SimOFF.png"

IDB_LADDER_HOURGLASS			RCDATA					"imgs/guiAmpulheta.png"
IDB_LADDER_CLOCK				RCDATA					"imgs/guiInstrReset.bmp"
IDB_LADDER_COUNTER				RCDATA					"imgs/guiInstrReset.png"
IDB_LADDER_TERMOMETHER			RCDATA					"imgs/guiTermometro.png"
IDB_LADDER_AD					RCDATA					"imgs/guiAD.png"
IDB_LADDER_DIALOG_ERROR			RCDATA					"imgs/DialogError.png"
IDB_LADDER_DIALOG_QUESTION		RCDATA					"imgs/DialogQuestion.png"
IDB_LADDER_DIALOG_EXCLAMATION	RCDATA					"imgs/DialogExclamation.png"
IDB_LADDER_BREAKPOINT_PARE		RCDATA					"imgs/breakpoint_pare.png"
IDB_LADDER_BREAKPOINT_STOP		RCDATA					"imgs/breakpoint_stop.png"

/////////////////////////////////////////////////////////////////////////////
//
// Sound
//
IDB_WAVE_REC_OK          WAVE                    "Sounds/rec_ok.wav"
IDB_WAVE_REC_ERRO        WAVE                    "Sounds/rec_erro.wav"

/////////////////////////////////////////////////////////////////////////////
//
// Font
//
IDB_FONT_POPTOOLS		FONT					"fonts/POPTools.ttf"
IDB_FONT_LUCON			FONT					"fonts/lucon.ttf"
